[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

gunicorn = "*"
connexion = "*"
flask-sqlalchemy = "*"
"psycopg2" = "*"
flask-migrate = "*"
spec-synthase = "*"
passlib = "*"
flask-jwt-extended = "*"


[dev-packages]

pytest = "*"


[requires]

python_version = "3.6"


[scripts]

start = "docker-compose up"
psql = "docker-compose exec db psql psdb -Upsql"
shell = "docker-compose exec api flask shell"
prune = "docker-compose exec api flask prune"
start-db = "docker-compose up db"
migrate-db = "docker-compose exec api flask db migrate"
upgrade-db = "docker-compose exec api flask db upgrade"
downgrade-db = "docker-compose exec api flask db downgrade"
